/*
* Custom code goes here.
* A template should always ship with an empty custom.css
*/

/* BODY */
@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-Regular.woff2') format('woff2'),
    url('MyriadPro-Regular.woff') format('woff'),
    url('MyriadPro-Regular.ttf') format('truetype'),
    url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('TrebuchetMS.eot');
    src: url('TrebuchetMS.eot?#iefix') format('embedded-opentype'),
    url('TrebuchetMS.woff2') format('woff2'),
    url('TrebuchetMS.woff') format('woff'),
    url('TrebuchetMS.ttf') format('truetype'),
    url('TrebuchetMS.svg#TrebuchetMS') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Myriad Pro';
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;
    background: #fffdeb;
}

#wrapper {
    padding-top: 0;
    background-color: #fffdeb;
    box-shadow: none;
}

#wrapper .breadcrumb {
    background: #f9eaed;
    text-align: center;
    line-height: 60px;
}

/* HEADER */
#header {
    background: #fffdeb;
}

@media (max-width: 768px) {
    #header {
        margin-bottom: 50px;
    }
}

#header .header-top {
    margin-top: -28px;
}

.top-menu a[data-depth="0"] {
    font-weight: 500;
    letter-spacing: 2.8px;
    color: #929292;
}

.top-menu a.dropdown-submenu {
    font-weight: 500;
}

#header .header-nav {
    background-color: #e4f2f1;
    max-height: 28px;
    margin-bottom: 0;
}

#header .header-nav #menu-icon .material-icons {
    line-height: 30px;
}

#header .header-nav .right-nav {
    padding-right: 38px;
}

#header .header-nav .user-info {
    margin-left: 0;
    margin-top: 2px;
    margin-right: 60px;
}

#header .header-nav .blockcart {
    height: auto;
    margin-left: 0;
    padding: 0;
}

#header .header-nav .user-info a,
#header .header-nav .blockcart .header {
    color: #52c1bd;
}

#header .header-nav .user-info a {
    font-family: 'Trebuchet MS';
}

#header .header-nav .blockcart .header img {
    margin-right: 7px;
}

#header .header-nav .cart-preview .shopping-cart {
    margin-right: 7px;
    color: #f9cfe4;
}

#header .header-top .position-static {
    text-align: center;
}

#header .header-top .position-static .top-menu {
    display: inline-block;
}

.btn-social-link {
    margin: 0 18px 0 18px;
}

/* TOP MENU */
#header .header-top .menu {
    padding-top: 15px;
}

#header .header-top .menu .top-menu>li {
    position: relative;
}

#header .header-top .menu .top-menu .sub-menu {
    position: absolute;
    top: 40px !important;
    width: auto;
    background-color: #e4f2f1;
}

#header .header-top .menu .top-menu .sub-menu a {
    color: #989999;
}

#header .header-top .menu .top-menu .sub-menu a:hover {
    color: #52c1bd;
}

.top-menu-wrapper {
    position: relative;
    margin-bottom: 30px;
}

.top-right {
    position: absolute;
    top: 0;
    right: 28px;
    display: inline-block;
}

.search-widget {
    float: none;
}

.shop-mark {
    margin-bottom: 16px;
}

.search-widget form input[type=text] {
    background-color: #e4f2f1;
    margin-left: 30px;
}

.search-widget form button[type=submit] {
    left: 0;
    bottom: 0;
    right: 0;
}

.header-top .search-widget form input[type=text] {
    width: 110px;
    padding: 0 0 0 20px;
    border-color: transparent;
}

/* HOME */
.featured-products {
    background-color: #fffdeb;
    padding: 0 20px;
}

/* FEATURED PRODUCTS */
.featured-products .products-section-title {
    display: none;
}

.featured-products .thumbnail-container {
    width: auto;
    text-align: center;
}

.featured-products .product-miniature {
    margin: 0;
}

.featured-products .product-description {
    width: 100%;
}

.featured-products .highlighted-informations {
    width: 100%;
}

.featured-products .thumbnail-container {
    height: 336px;
    overflow: hidden;
}

.featured-products img {
    width: auto;
    height: 100%;
}

/* SLIDER */
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    display: none;
}

/* CUSTOM TEXT */
#custom-text {
    background: #fffdeb;
    padding: 20px;
    margin-bottom: 0;
}

#custom-text p {
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 2.33;
    color: #7d7d7d;
}

/* FOOTER */
#footer {
    padding-top: 0;
}

.footer-container {
    margin-top: 0;
    background-color: #e4f2f1;
}

/* PRODUCT THUMBNAIL */
#products .products .product-miniature .thumbnail-container {
    width: 395px;
    text-align: center;
}

#products .products .product-miniature .thumbnail-container .highlighted-informations,
#products .products .product-miniature .thumbnail-container .product-description {
    width: 100%;
}

.icon-divider {
    text-align: center;
}

/* GM_Categories module*/
.gm-category {
    position: relative;
    padding: 10px;
    overflow: hidden;
}

.gm-category img {
    width: 100%;
}

.gm-category:hover img {
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    -o-opacity: 0.7;
    -ms-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

.gm-category-content {
    position: absolute;
    bottom: 10px;
    right: 0;
    padding: 10px 20px;
    text-align: right;
}

.gm-category-content .gm-category-link {
    display: inline-block;
    padding: 10px 20px;
    min-width: 120px;
    color: #7d7d7d;
    background-color: #fcf0f2;
    text-align: center;
}
